<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <div id=":1mf" class="ii gt"
    jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTY5Njc1MTU3MjE0NzU2NjU5OSIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTY5Njc1MTU3MjE0NzU2NjU5OSIsbnVsbCxbXV0.">
    <div id=":1lp" class="a3s aiL msg4897193760135057364">
      <div class="adM"></div>
      <u></u>
      <div style="margin: 0 !important; padding: 0 !important">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
            <tr>
              <td align="center"
                style="padding: 30px 10px 0px; background: #f5f5f5">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                  width="100%"
                  style="max-width: 600px; border-left: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0; word-break: break-all; word-wrap: break-word"
                  class="m_4897193760135057364wrapper">
                  <tbody
                    style="border-right: 2px solid #eaeaea; border-left: 2px solid #eaeaea; border-bottom: 2px solid #eaeaea">
                    <tr style="height: 160px !important;">
                      <td align="center" valign="top" bgcolor="#ffffff"
                        style="padding: 0; background: #145e9a; vertical-align: middle;">
                        <table align="center" border="0" cellspacing="0"
                          cellpadding="0" width="100%">
                          <tbody>
                            <tr>
                              <td align="center"><a
                                href="https://myjucas.com/" target="_blank"
                                data-saferedirecturl="https://myjucas.com/">
                                  <img
                                  style="outline: none; text-decoration: none; clear: both; display: block; border: none; margin: 10px auto; float: none; width: 100% !important; max-width: 225px"
                                  align="center" border="0"
                                  src="https://myjucas.com/img/jucas-logo.png" class="CToWUd" data-bit="iit">
                              </a></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" bgcolor="#ffffff"
                        style="padding: 20px 25px; background: #ffffff">
                        <table align="left" border="0" cellpadding="0"
                          cellspacing="0" width="100%"
                          class="m_4897193760135057364wrapper">
                          <tbody>
                            <tr>
                              <td align="left"
                                style="padding: 8px 0 16px 0; font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 20px; text-decoration: none; text-align: center">Reset Password
                              </td>
                            </tr>
                            <tr>
                              <td align="left"
                                style="padding: 0 0 18px 0; font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; text-decoration: none; line-height: 20px; text-align: center">
                                Please click on this button to reset your account password.</td>
                            </tr>
                            <tr>
                              <td align="center" style="padding: 0">
                                <table align="center" border="0" cellpadding="0"
                                  cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td align="center"
                                        style="padding: 0px; width: 200px; height: 32px">
                                        <a th:href="${RESET_PASSWORD_LINK}"
                                        style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #fff; background: #145e9a; text-decoration: none; display: inline-block; width: 100%; line-height: 32px; border-radius: 24px"><span
                                          style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 32px;">Reset Account Password</span></a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="left"
                                style="padding: 18px 0 10px 0; font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 15px; text-decoration: none; line-height: 20px; text-align: center">
                                <b>OR</b>
                              </td>
                            </tr>
                            <tr>
                              <td align="left"
                                style="padding: 0 0 18px 0; font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; text-decoration: none; line-height: 20px; text-align: center">
                                You can copy this URL and paste it into your browser. <span th:text="${RESET_PASSWORD_LINK}"></span> </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" bgcolor="#f5f5f5"
                style="padding: 0px 10px 30px; background: #f5f5f5">
                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                  align="center" style="max-width: 600px"
                  class="m_4897193760135057364responsive-table">
                  <tbody>
                    <tr>
                      <td align="left"
                        style="padding: 12px 5px; font-size: 11px; line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: #95959d">
                        If you have any additional questions or require further
                        clarification, Please do not hesitate to contact us on <a
                        href="https://myjucas.com/contact"
                        style="color: #4285f4; text-decoration: none"
                        target="_blank"> https://myjucas.com/contact </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL"></div>
      </div>
      <div class="adL"></div>
    </div>
  </div>
</body>
</html>